body #formCoti {
  margin: 10%;
  border-width: 1px;
  border-style: solid;
  border-color: #828282;
  padding: 5%;
}
@media (max-width: 350px) {
  body #formCoti {
    font-size: x-small;
  }
}
body #formCoti #cotiEspecial {
  font-family: "Sofia", sans-serif;
}
body main h1 {
  text-align: center;
  margin: 5%;
}
body main p {
  text-align: center;
}
body main #imagenContactos {
  width: 100%;
}
body main #imagenContactos img {
  width: 100%;
}
body main #seccionContactos {
  display: flex;
}
@media (max-width: 600px) {
  body main #seccionContactos {
    flex-wrap: wrap;
    border-right-width: 1px;
    border-right-color: black;
  }
}
body main #seccionContactos #numerosContactos {
  width: 100%;
  justify-content: center;
  display: grid;
}
@media (max-width: 350px) {
  body main #seccionContactos #numerosContactos {
    font-size: small;
  }
}
@media (max-width: 300px) {
  body main #seccionContactos #numerosContactos {
    font-size: x-small;
  }
}
body main #seccionContactos #numerosContactos p {
  width: 100%;
}
body main #seccionContactos #numerosContactos div {
  width: 100%;
}
body main #seccionContactos #numerosContactos .tituloFormCont {
  margin-top: 2%;
}
body main #seccionContactos #formularioContactos {
  justify-content: center;
  border-width: 1px;
  width: 100%;
}
@media (max-width: 350px) {
  body main #seccionContactos #formularioContactos {
    font-size: small;
  }
}
@media (max-width: 300px) {
  body main #seccionContactos #formularioContactos {
    font-size: x-small;
  }
}
@media (min-width: 601px) {
  body main #seccionContactos #formularioContactos {
    border-left-width: 1px;
    border-left-color: black;
  }
}
@media (max-width: 600px) {
  body main #seccionContactos #formularioContactos {
    border-top-width: 1px;
    border-top-color: black;
  }
}
body main #seccionContactos #formularioContactos .tituloFormCont {
  margin-top: 2%;
}
body main #seccionContactos #formularioContactos #rowForm {
  display: flex;
  width: 100%;
}
body main #seccionContactos #formularioContactos #rowForm .rowItem {
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  justify-content: first baseline;
}
@media (max-width: 450px) {
  body main #seccionContactos #formularioContactos #rowForm .rowItem {
    padding-left: 10%;
    padding-right: 10%;
  }
}
body main #seccionContactos #formularioContactos #rowForm .rowItem #inputNombre {
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
body main #seccionContactos #formularioContactos #rowForm .rowItem #inputApellido {
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
body main #seccionContactos #formularioContactos #rowForm .rowItem #inputTelefono {
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
body main #seccionContactos #formularioContactos #rowForm .rowItem #inputEmail {
  width: 300px;
  height: 50px;
  border-radius: 10px;
}
body main #seccionContactos #formularioContactos #rowForm .rowItem #inputComentario {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
body main #seccionContactos #formularioContactos div #buttonEnviar {
  border-radius: 10px;
}
body main section {
  background-color: lightgray;
  text-align: center;
}
body main section .carouselTrabajosRealizados {
  padding: 50%;
}
body main section div {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: space-between;
}
body main section div p {
  text-align: center;
}
body main .titulo2 {
  text-align: center;
  margin-top: 2%;
}
body main #contenedorImg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body main #contenedorImg .row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
}
body main #contenedorImg .row2 .contenedorItem {
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #contenedorImg .row2 .contenedorItem .contenedorText {
  display: flex;
  float: left;
  flex-direction: column;
  margin: 20px;
  font-family: Raleway-Regular, sans-serif;
  font-size: 13px;
  color: #828282;
}
body main #contenedorImg .row2 .contenedorItem .contenedorIcon {
  display: flex;
  justify-content: center;
  margin: 10px;
}
body main #contenedorImg .row2 .contenedorItem .contenedorIcon img {
  max-width: 100px;
}
@media (max-width: 250px) {
  body main #contenedorImg .row2 .contenedorItem .contenedorIcon img {
    max-width: 50px;
  }
}
body #ytVideo {
  display: flex;
  justify-content: center;
  margin: 5%;
}
body #videoBox {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
}
body #videoBox iframe {
  height: 100%;
  width: 100%;
}

.footerBar {
  position: relative;
  float: left;
  width: 100%;
  background: #efefef;
  padding: 30px 0;
  margin-top: 30px;
}
.footerBar .container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footerBar .container1 .row1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-evenly;
}
.footerBar .container1 .row1 .footerbarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerBar .container1 .row1 .footerbarItem .footerbarText {
  display: flex;
  float: left;
  flex-direction: column;
  margin-right: 15px;
  font-family: Raleway-Regular, sans-serif;
  font-size: 13px;
  color: #828282;
}
.footerBar .container1 .row1 .footerbarItem .footerbarIcon {
  display: flex;
  justify-content: center;
  height: auto;
}

footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer div .textoFooter {
  width: 100%;
  text-align: center;
  font-size: small;
}
@media (max-width: 200px) {
  footer div .textoFooter {
    font-size: x-small;
  }
}
footer div img {
  width: 1cm;
  height: auto;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */