
body{
    main{
        h1{
            text-align: center;
            margin:5%
        }
        p{
            text-align: center;
        }
    
        section{
        background-color: lightgray;
        text-align: center;
        margin-bottom: 2%;
            .carouselTrabajosRealizados{
            padding: 50%;
            }
            div{
                display: flex;
                flex-wrap: wrap;
                padding: 2%;
                justify-content: space-between;
                p{
                    text-align: center;
                }
            }
        }
        .titulo2{
            text-align: center;
        }

        #contenedorImg{
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                .row2 {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    justify-content: space-evenly;
                    .contenedorItem{
                        margin:10px;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 7px;

                        border-color: black;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .contenedorText
                        {
                            display: flex;
                            float: left;
                            flex-direction: column;
                            margin: 20px;
                            font-family: Raleway-Regular,sans-serif;
                            font-size: 13px;
                            color: #828282;
                            
                        }
                        .contenedorIcon
                        {
                            display: flex;
                            justify-content: center;
                            margin: 10px;
                            img{
                                max-width: 100px;
                                @media  (max-width: 250px) {max-width: 50px;}
                            }
                        }
                    }
                }
            }
        }
        #ytVideo {
            
            display:flex;
            justify-content: center;
            margin: 5%;
            }
            #videoBox{
                width: 100%;
                height: auto;
                aspect-ratio: 2/1;
                iframe{
                    height: 100%;
                    width: 100%;

                }
            }
        }
    .footerBar {
        position: relative;
        float: left;
        width: 100%;
        background: #efefef;
        padding: 30px 0;
        margin-top: 30px;
        .container1 {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .row1 {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                justify-content: space-evenly;
                .footerbarItem{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .footerbarText
                    {
                        display: flex;
                        float: left;
                        flex-direction: column;
                        margin-right: 15px;
                        font-family: Raleway-Regular,sans-serif;
                        font-size: 13px;
                        color: #828282;
                    }
                    .footerbarIcon
                    {
                        display: flex;
                        justify-content: center;
                        height: auto;
                    }
                }
            }
        }
        }
    

    footer{
        margin-top:50px;
        display: flex;
        flex-wrap:wrap;
        background-color: gray;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .textoFooter{
                width: 100%;
                text-align: center;
                font-size: small;
                @media  (max-width: 200px) {font-size: x-small;}
            }
            img{
                width:1cm;
                height:auto;
                padding: 5px;
                }
            };
        
        }
