
#formCoti{
    margin:10%;
}

nav ul {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;
}

ul li :hover {
    list-style: none;
    background-color: grey;
    justify-items: right;
}

form ul{
    list-style: none;
}










