main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

    
.header .headerImage img{
    width:100%;
    height:auto;
}

#formCoti{
    margin:10%;

}

nav ul {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;
}

ul li :hover {
    list-style: none;
    background-color: grey;
    justify-items: right;
}

form ul{
    list-style: none;
}

footer {
    display: flex;
    background-color: gray;
justify-content: space-between;
padding: 10px;
   }


section {
background-color: lightgray;
text-align: center;
}

section div{
display: flex;
padding: 2%;
justify-content: space-between;
}



main h1 {
    margin-bottom:10%
}

footer img {

    width: 1cm;
    height: auto;

}

div p {
    text-align: center;
}

body div {
    text-align: right;
}

.footerbar {
    position: relative;
    float: left;
    width: 100%;
    background: #efefef;
    padding: 30px 0;
    margin-top: 30px;
}

.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
div.footerbar .footerbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.footerbar .footerbar-item .footerbar_text {
    display: flex;
    float: left;
    flex-direction: column;
    margin-right: 15px;
    font-family: Raleway-Regular,sans-serif;
    font-size: 13px;
    color: #828282;
}
div.footerbar .footerbar-item .footerbar_icon {
    display: flex;
    align-items: center;
    height: 40px;
}
